page-list {
    .profesional{
        background-image: url("https://2.bp.blogspot.com/-QRPsHpYRNyg/WPQtTLEyBxI/AAAAAAAADnQ/Pg18Y_8Nk-k1x9ZQuRvGUVeJq0PwtKxCwCLcB/s1600/que%2Bnotebook%2Bcomprar%2Bingeniria%2Ben%2Bsistemas.jpg");
        background-size: cover;
        background-position: center;
        height: 70%;
        color: #fff;

        .lista {
            background-color: rgb(255, 255, 255); opacity: 0.5;
            color: black;
        }
    }
}
